# Add any directories, files, or patterns you don't want to be tracked by version control
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
node_modules
npm-debug.log
/.gradle
/build
/out
/src/main/resources/public

# extra
*.ipr
*.iws
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.factorypath
.metadata
.project
.recommenders
.settings
.springBeans
/code
_site/
activemq-data
bin
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
overridedb.*
settings.xml
transaction-logs
*.iml