@import (reference) "../../../styles/constants/misc";
@import (reference) "../../../styles/constants/fonts";

.title {
  display: flex;
  justify-content: space-between;
  .title-info {
    display: flex;
    align-items: center;
    .title-text {
      margin-left: 15px;
    }
  }
}
.roommates-form-input-field {
  .form-input-field();
  margin-bottom: 5px;
}