@import (reference) "../../../styles/constants/misc";
@import (reference) "../../../styles/constants/fonts";

.title {
  display: flex;
  justify-content: space-between;
  .title-info {
    display: flex;
    align-items: center;
    .title-text {
      font-size: @header;
      margin-left: 15px;
    }
  }

}

.roommates-form-input-field {
  .form-input-field();
  margin-top: 15px;
  margin-bottom: 15px;
}