@import "../../styles/constants/colors";
.poke-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  font-family: Arial, sans-serif; // TODO: adjust later according to design
}

.poke-avatar-name {
  padding-top: 6px;
  color: @generalText;
  font-size: larger;
}

.poke-avatar-info {
  display: flex;
  align-items: center;
  line-height: 100%;
  color: @generalText;
}

.poke-avatar-gender-icon {
  padding: 3px;
}

.poke-avatar-age {
  font-size: x-small;
}

.poke-avatar-constellation {
  padding-left: 6px;
  font-size: x-small;
}