@iconHeight: 36px;

.rollable-container {
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;

  .roller-enter {
    opacity: 0.01;
    height: 0;
  }

  .roller-enter.roller-enter-active {
    opacity: 1;
    height: @iconHeight;
    transition: all 800ms ease-in;
  }

  .roller-leave {
    opacity: 1;
    height: @iconHeight;
  }

  .roller-leave.roller-leave-active {
    opacity: 0.01;
    height: 0;
    transition: all 800ms ease-in;
  }
}