@import '../../styles/constants/colors';

.index-page-block {
  width: 100%;
  height: 30%;
}

.index-page-block.--classmates {
  background-color: @primaryBlue;
}

.index-page-block.--friends {
  background-color: @primaryYellow;
}

.index-page-block.--roommates {
  background-color: @primaryRed;
}