@import "../styles/constants/fonts";
@import "../styles/constants/icon";

.home-page {
  height: 100%;
}

.profile-button {
  position: fixed;
  bottom: 3%;
  right: 5%;
  height: @regular * 5 !important;
  width: @regular * 5 !important;

  button {
    height: @regular * 5 !important;
    width: @regular * 5 !important;
  }

  // nested div inside material FloatingActionButton
  div {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      .to-profile-label {
        font-size: @small;
        height: 22px !important;
        line-height: 16px !important;
      }
    }
  }
}

// TODO: remove when demo is no longer needed
.demo-button {
  position: fixed;
  top: 5%;
  right: 10%;
}

.friend-display-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
