.menu-input-container {
  width: 100%;

  .menu-container {
    width: 100%;
    height: 100%;
    margin-left: 25px;
    position: relative;


    .menu-content {
      margin-bottom: 8px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu-input-values {
        display: flex;
        .menu-input-value {
          margin-right: 15px;
        }
      }
    }
  }
}