// size
@large: 1.4em;
@regular: 65px;
@small: 25px;

// family
@generalFontFamily: Arial, sans-serif; // TODO: adjust later according to design

.common-font {
  font-size: @regular;
  font-family: @generalFontFamily;
}