@large: 1.4em;

@header-title-font: Arial, serif; // change it later according to the design
@header-font-size: 65px; // to be adjusted later according to the design
@header-title-color: white; // to be adjusted later according to the design