@import (reference) "../../../styles/constants/colors";
@import (reference) "../../../styles/constants/fonts";

.search-result-card-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;

  .search-result-card-avatar {
    margin-right: 15px;
    margin-top: 15px;
  }

  .search-result-card-list-item {
    font-family: @generalFontFamily;
    font-size: @regular;
    color: @generalText;
    margin: 12px 5px;
  }
}